<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to HomePage!</h1>
    <h2>What do you want Please Select!</h2>
    <button><a href="/create">Create Data</a></button>
    <button><a href="/read">Read Data</a></button>
    <!-- <button><a href="/update">Update Data</a></button>
    <button><a href="/delete">Delete Data</a></button> -->
  </body>
</html>
